<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Store</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminProductsServlet</servlet-name>
    <servlet-class>com.zeratul.web.AdminProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsServlet</servlet-name>
    <url-pattern>/adminProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddProductUI</servlet-name>
    <servlet-class>com.zeratul.web.AdminAddProductUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductUI</servlet-name>
    <url-pattern>/adminAddProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.zeratul.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelProductservlet</servlet-name>
    <servlet-class>com.zeratul.web.AdminDelProductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductservlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUpdateProductUI</servlet-name>
    <servlet-class>com.zeratul.web.AdminUpdateProductUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUI</servlet-name>
    <url-pattern>/adminUpdateProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUpdateProduct</servlet-name>
    <servlet-class>com.zeratul.web.AdminUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProduct</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminGetProductsByCondition</servlet-name>
    <servlet-class>com.zeratul.web.AdminGetProductsByCondition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetProductsByCondition</servlet-name>
    <url-pattern>/adminGetProductsByCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.zeratul.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.zeratul.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserActiveServlet</servlet-name>
    <servlet-class>com.zeratul.web.UserActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserActiveServlet</servlet-name>
    <url-pattern>/userActive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.zeratul.web.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/checkUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.zeratul.web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.zeratul.web.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductListByCategory</servlet-name>
    <servlet-class>com.zeratul.web.ProductListByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListByCategory</servlet-name>
    <url-pattern>/productListByCid</url-pattern>
  </servlet-mapping>
  
  
</web-app>